@charset "utf-8";
@import url("reset.css");

.container {
    width: 100%;
    max-width: 500px;
    margin: 30px auto;
    border-radius: 3px;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    padding: 30px 15px;
}
.status__warpper .status__headline {
    font-size: 28px;
    font-weight: 500;
    color: #000;
    text-align: center;
    padding-bottom: 20px;
}
.column {
    padding: 5px 0;
    flex-wrap: wrap;
    display: flex;
}
.column__item {
    flex: auto;
}
.column__btn {
    padding: 10px 0;
}
.title {
    font-size: 16px;
}
.column .status__input {
    width: 80px;
    height: 26px;
    text-align: right;
    padding: 0 10px;
    border: 1px solid #d9d9d9;
    margin-left: 10px;
}
.btn {
    width: 100px;
    height: 30px;
    border: 1px solid #b5b5b5;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
}
.board__wrapper table {
    margin: 0 auto;
    background: #c1c1c1;
}
.board__wrapper table td {
    width: 22px;
    height: 22px;
    padding-left: 3px;
}